.header {
  background-color: black;
}

.CV {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.CV_container {
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.CV_document {
  vertical-align: middle;
}
