body {
    overflow: hidden;
    background-color: #232129;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url("static/background_JuhoPuurunen.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    font-family: "IBM Plex Sans", sans-serif;
  }
  
  header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5px;
    z-index: 200;
    color: aliceblue;
    text-shadow: 3px 3px #2f4f4f;
    letter-spacing: 3px;
  }
  
  .dummyLogo {
    height: 40px;
    width: 40px;
    margin: 5px;
  }
  
  .sideDiv {
    margin: 40px;
    position: absolute;
    height: 10em;
    margin-top: -5em;
    left: 20px;
    bottom: 140px;
  }
  
  .LinkedinLogo {
    width: 150px;
    -webkit-filter: drop-shadow(2px 2px 2px #2f4f4f);
    filter: drop-shadow(2px 2px 2px #2f4f4f);
  }
  
  .LinkedinLogo:hover {
    margin-left: 20px;
  }
  
  .GithubLogo {
    width: 150px;
    -webkit-filter: drop-shadow(2px 2px 2px #2f4f4f);
    filter: drop-shadow(2px 2px 2px#2f4f4f);
  }
  
  .GithubLogo:hover {
    margin-left: 20px;
  }
  
  .adobes {
    position: absolute;
    right: 100px;
    bottom: 30px;
    overflow: hidden;
    width: 100px;
    height: 70px;
    margin: 0px;
    float: right;
  }
  
  .adobeLink {
    float: right;
  }
  
  .codeLogo {
    height: 50px;
    width: 50px;
    margin: 10px;
    float: right;
  }
  
  .CreativeCloudLogo {
    height: 50px;
    width: 70px;
    margin: 10px;
    float: right;
  }
  
  .codes {
    position: absolute;
    right: 100px;
    bottom: 100px;
    overflow: hidden;
    height: 70px;
    width: 70px;
    margin: 0px;
  }
  
  .stuff {
    position: absolute;
    right: 40px;
    bottom: 0px;
    height: 150px;
    width: 200px;
  }
  
  .stuff .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgba(25, 60, 99, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .stuff .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(25, 60, 99, 0.8) transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .stuff .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .logo {
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
  }
  
  .adobelogo {
    height: 50px;
    margin: 10px;
    width: 50px;
    float: right;
  }
  
  .about:hover {
    font-style: italic;
  }
  
  a:hover {
    font-style: italic;
  }
  
  .text {
    font-size: 1rem;
    margin: 10px 0px 10px 0px;
    text-shadow: 1px 1px #2f4f4f;
  }
  
  .text:hover {
    font-style: italic;
  }
  
  .profile {
    width: 650px;
    height: 170px;
    position: absolute;
    top: 200px;
    left: 150px;
  }
  
  #text {
    font-family: Consolas, monaco, monospace;
    color: #f0f8ff;
    font-size: 1.2em;
    text-shadow: 3px 3px #2f4f4f;
  }
  
  #cursor {
    font-family: Consolas, monaco, monospace;
    color: #f0f8ff;
    font-style: bold;
    font-size: 1.2em;
  }
  
  
  .flexible-modal {
    position: absolute;
    z-index: 1;
    border: 1px solid #ccc;
    background: white;
    width: 20px;
  }
  
  .flexible-modal .Modal {
    width: 20px;
  }
  
  .flexible-modal-mask {
    position: fixed;
    height: 100%;
    background: rgba(55, 55, 55, 0);
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  .flexible-modal-resizer {
    position:absolute;
    right:0;
    bottom:0;
    cursor:se-resize;
    margin:5px;
    border-bottom: solid 2px #333;
    border-right: solid 2px #333;
  }
  .flexible-modal-drag-area{
    background: rgba(22, 22, 333, 0);
    height: 30px;
    width: 90%;
    position:absolute;
    right:0;
    top:0;
    cursor:move;
  }
  
  .modalHeader {
    height: 30px;
    background-color: #14637a;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 95% 5%;
    overflow:hidden;
  }
  
  .modalBody {
    width: 85%;
    height: 85%;
    overflow: hidden;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  
  .modalFooter {
    width: 100%;
    height: auto;
    display: flex;
  }
  
  .marvin {
    height: 80%;
    margin: 20px;
  }
  
  .modalHeader .modalClose {
    align-self: end;
    font-size: 1rem;
    z-index: 200;
    margin: 5px 0px 5px 0px;
    color: aliceblue;
    cursor: pointer;
  }
  
  .modalHeader .headText {
    margin: 5px 0px 5px 0px;
    align-self: start;
    font-size: auto;
    color: whitesmoke;
  }
  
  .aiDownload {
    height: 5vh;
  }
  
  @media only screen and (max-width: 1024px) {
    body {
      background-position: center top;
      background-size: auto;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  
    header {
      height: 100px;
      width: 100%;
      padding: 0px;
      top: 20px;
    }
  
    .profile {
      width: 70vw;
      height: 40vh;
      position: absolute;
      top: 120px;
      left: 40px;
    }
  
    .sideDiv {
      left: 0px;
    }
  
    #text {
      font-family: Consolas, monaco, monospace;
      color: #f0f8ff;
      font-size: 0.8em;
    }
  
    #cursor {
      font-family: Consolas, monaco, monospace;
      color: #f0f8ff;
      font-style: bold;
      font-size: 0.8em;
    }
  
    .LinkedinLogo {
      width: 100px;
    }
  
    .GithubLogo {
      width: 100px;
    }
  
    .aboutDrop {
      height: 0;
      opacity: 0;
      margin: 0;
      overflow: hidden;
    }
    .codes {
      position: absolute;
      left: 30px;
      bottom: 10px;
      display: flex;
      flex-flow: row wrap-reverse;
    }
  
    .stuff {
      right: " ";
      left: 30px;
      height: 70px;
      width: 150px;
    }
  
    .adobes {
      position: absolute;
      left: 100px;
      bottom: 10px;
      width: 80px;
      display: flex;
      flex-direction: column-reverse;
    }
  
    .logo {
      height: 45px;
      margin-bottom: 10px;
      margin-right: 5px;
    }
  }
  
  @media only screen and (max-width: 420px) {
    body {
      background-position: left top;
    }
  
    a {
      width: auto;
      height: auto;
    }
  
    .header {
      height: 50px;
      top: 10px;
    }
  
    .title {
      margin: 0px;
      font-size: 1em;
    }
  
    .profile {
      width: 90vw;
      top: 70px;
      left: 20px;
    }
  
    .about {
      margin: 0px;
      font-size: 1em;
    }
  
    .sideDiv {
      margin: 0px;
      left: 10px;
    }
  
    .text {
      font-size: 0.8em;
    }
  
    .GithubLogo {
      width: 70px;
    }
  
    .LinkedinLogo {
      width: 70px;
    }
  
    .codeLogo {
      width: 40px;
      height: 40px;
      margin: 0px;
    }
  
    .logo {
      height: 30px;
      margin-bottom: 2px;
      margin-left: 4px;
      float: right;
    }
  
    .codes {
      width: 40px;
      height: 40px;
    }
  
    .adobes {
      width: 50px;
      height: 50px;
    }
    .CreativeCloudLogo {
      width: 50px;
      height: 40px;
      margin: 0px;
    }
    .adobelogo {
      height: 30px;
      width: 30px;
      float: right;
    }
    .adobeLink {
      float: right;
    }
  
    .stuff {
      height: 50px;
    }
  }
  