.videoBody {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 5px;
  color: aliceblue;
  text-shadow: 3px 3px #2f4f4f;
  letter-spacing: 3px;
}

.header h1 {
  font-size: 2rem;
}

.videoContainer {
  height: 75vh;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  vertical-align: middle;
  padding: 10px;
  margin-top: 5vh;
  margin-bottom: 10vh;
  background-color: black;
}

.video {
  height: 65vh;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 2px;
  margin-bottom: 2px;
  align-items: center;
}

.videoItem {
  display: inline-block;
}

.description {
  color: white;
  text-align: center;
  display: block;
  margin: 5px;
}

.backSpace {
  display: inline;
  z-index: 9001;
  position: absolute;
  top: 20px;
  left: 100px;
  height: 50px;
  width: 200px;
  overflow: hidden;
}

.back {
  color: aliceblue;
  font-size: 1.5em;
  padding: 0px;
  margin: 10px 0px 10px 0px;
}

@keyframes flicker {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.backArrow {
  height: 50px;
  float: left;
  margin-right: 10px;
  animation-name: flicker;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@media only screen and (max-width: 1024px) {
  .header {
    margin-top: 30px;
    padding: 0px;
  }
  .header h1 {
    font-size: 2rem;
  }
  .backSpace {
    display: flex;
    z-index: 9001;
    position: absolute;
    top: 90vh;
    left: 0;
    bottom: 50px;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .back {
    color: aliceblue;
    font-size: 1.5em;
    padding: 0px;
    margin: 10px 10px 10px 0px;
  }
  .backArrow {
    height: 50px;
    float: left;
    margin-right: 10px;
  }
  .videoContainer {
    margin-top: 50px;
    height: 60vh;
  }
  .video {
    width: 92vw;
    height: 50vh;
    margin-left: 5px;
    margin-right: 5px;
  }
  .description {
    margin: 2px;
    font-size: 2.5vw;
    width: 92vw;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    margin-top: 30px;
    padding: 0px;
  }
  .header h1 {
    font-size: 1rem;
  }
  .backSpace {
    display: flex;
    z-index: 9001;
    position: absolute;
    top: 10px;
    left: 0;
    height: 25px;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .back {
    color: aliceblue;
    font-size: 1rem;
    padding: 0px;
    margin: 5px 10px 5px 0px;
  }
  .backArrow {
    height: 25px;
    float: left;
    margin-right: 10px;
  }
  .videoContainer {
    height: 60vh;
  }
  .video {
    width: 92vw;
    height: 40vh;
    margin-left: 2px;
    margin-right: 2px;
  }
  .description {
    margin: 2px;
    font-size: 3vw;
    width: 92vw;
  }
}
